# ignore all object files
*.o
*.gch

# ignore all executables
*.out
minishell

# ignore all valgrind stuff's
*.dSYM

# ignore all vscode settings
.vscode/*

# ignore testing files
*.ignore
*.ig
*.test
*.testing

# ignore libraries
*.a